@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200&display=swap");
body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: #007AF3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.hero .column .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.hero .column h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.hero .column .primary-cta {
  background: #007AF3;
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.test-section {
  background: #007AF3;
  color: white;
  text-align: center;
  padding: 2em 1em;
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  position: unset;
  height: auto;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav a {
  color: black;
  font-size: 1em;
  padding: .1em 1em;
  text-decoration: none;
}

.navbar nav ul.primary-nav {
  margin: 0;
}

.navbar nav li.current a {
  font-weight: bold;
}

.navbar nav .secondary-nav {
  background: #007AF3;
  border: 3px solid #007AF3;
  font-weight: bold;
  border-radius: 5em;
  margin-top: -.2em;
}
